.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.button-greeting-div {
  display: flex;
  flex-direction: row;
  justify-content: start; /* Adjust the spacing between buttons */
  margin-top: 20px;
}

.greeting-text {
  margin-top: 80px;
  font-size: 50px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 20px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

.portfolio-repo-btn {
  margin-right: 20px;
}

/* Media Query */
@media (max-width: 1380px) {
  .portfolio-repo-btn {
    margin-right: 20px;
  }
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .portfolio-repo-btn {
    margin-right: 0px;
  }
  .button-greeting-div {
    flex-direction: column; /* Adjust for smaller screens */
    align-items: center; /* Center buttons vertically */
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greet-main {
    margin-top: 0rem;
  }
  .greeting-main {
    display: block;
  }
}
